* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

border {
	color: aliceblue;
}
.main {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(223, 13, 13, 0.55),#0202028c),url("https://cdn.wallpapersafari.com/62/15/W3eybF.jpg");
	background-size: cover;
	background-position: center;
}
.navbar {
	width: 85%;
	margin: auto;
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	font-size: 40px;
	color: white;
	font-weight: bold;
	width: 260px;
	cursor: pointer;
}
.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a {
	color: white;
	text-transform: uppercase;
}
.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background: yellowgreen;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.4s;
}
.navbar ul li:hover:after {
	width: 100%;
}
.content {
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	transform: translateY(-40%);
}
.content h1 {
	font-size: 60px;
	margin-top: 80px;
}
.content p {
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}
button {
	width: 150px;
	margin: 20px 10px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background: transparent;
	border: 3px solid yellowgreen;
	position: relative;
	cursor: pointer;
	border-radius: 10px;
	overflow: hidden;
}
span {
	height: 100%;
	width: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
	border-radius: 10px;
	background: yellowgreen;
	transition: 0.5s;
}
button:hover span {
	width: 100%;
}
button:hover {
	border:Â none;
}